<table class="table">
    <thead>
      <tr>
        <th style="width: 10%">
          <a href="/map">Games</a>
        </th>
        <th style="width: 10%">
          <a href="/launch">Launch</a>
        </th>
        <th style="width: 10%">
          <a href="/session">Sessions</a>
        </th>
        <th style="width: 10%">
          <b>Tournaments</b>
        </th>
        <th style="width: 10%">
          <a href="/payments">Payments</a>
        </th>
        <th style="width: 10%">
            <a href="/profile">Profile</a>
        </th>
        <th style="width: 60%">
          <a href="/">Log Out</a>
        </th>
      </tr>
    </thead>
</table>

<h3>
  <input
  type="button"
  value="Create Tournament"
  class="btn btn-default scopeButton"
  (click)="add()"
  *ngIf="!this.isNew"
  />
  <select class="scopeCombobox" name="scope" [(ngModel)]="scope" (change)="changeFilter()" *ngIf="!start_game">
    <option [value]="1">Current</option>
    <option [value]="2">Closed</option>
  </select>
</h3>

<table class="table table-striped">
    <thead>
      <tr>
        <td>Date</td>
        <td>Title</td>
        <td>Game</td>
        <td>Time Control</td>
        <td>Progress</td>
        <td></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let it of tourns">
        <ng-template
          [ngTemplateOutlet]="loadTemplate(it)"
          [ngTemplateOutletContext]="{ $implicit: it}"
        >
        </ng-template>
      </tr>
    </tbody>
  </table>
    
  <ng-template #readOnlyTemplate let-it>
    <td>{{it.created | date: 'dd/MM/yyyy'}}</td>
    <td>{{it.title}}</td>
    <td><a (click)="members(it)">{{it.game}}</a></td>
    <td>{{it.timecontrol}}</td>
    <td><a (click)="games(it)">{{it.completed}}/{{it.all}}</a></td>
    <td>
      <input *ngIf="!this.isNew && isOwner(it)"
      type="button"
      value="Edit"
      (click)="edit(it)"
      class="btn btn-success"
      />
    </td>
    <td>
      <input *ngIf="isRoot()"
      type="button"
      value="Delete"
      (click)="delete(it)"
      class="btn btn-danger"
      />
      <input *ngIf="!isRoot() && isOwner(it) && (scope == 1)"
      type="button"
      value="Close"
      (click)="close(it)"
      class="btn btn-danger"
      />
    </td>
  </ng-template>

  <ng-template #editTemplate let-it>
    <td>{{it.created | date: 'dd/MM/yyyy'}}</td>
    <td>
      <input type="text" [(ngModel)]="edited.title" class="form-control" />
    </td>
    <td *ngIf="!this.isNew">{{it.game}}</td>
    <td *ngIf="this.isNew">
      <select class="form-control" name="edited.setting_id" [(ngModel)]="edited.setting_id">
        <option *ngFor="let x of info" [value]="x.id">
          {{ x.name }}
        </option>
      </select>
    </td>
    <td *ngIf="!this.isNew">{{it.timecontrol}}</td>
    <td *ngIf="this.isNew">
      <select class="form-control" name="edited.timecontrol_id" [(ngModel)]="edited.timecontrol_id">
        <option *ngFor="let x of timecontrol" [value]="x.id">
          {{ x.name }}
        </option>
      </select>
    </td>
    <td>{{it.completed}}/{{it.all}}</td>
    <td>
      <input
        type="button"
        value="Save"
        (click)="save()"
        class="btn btn-success"
      />
    </td>
    <td>
      <input
        type="button"
        value="Cancel"
        (click)="cancel()"
        class="btn btn-warning"
      />
    </td>
  </ng-template>
